body {
  margin: 0 auto;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background: white;
  margin: 0 auto;
}

.pixel {
  flex: 0 0;
  /* outline: .5px solid lightgray; */
  box-shadow: 0px 0px 1px 0px #cfcfcf;
}

.pixel:hover {
  background-color: green;
}

.controls-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.controls-container button {
  background-color: #f9f9f9;
  border: 1px solid gray;
}

.controls-container button:hover {
  background-color: lightgreen;
}

#inputFile {
  display: none;
}

#color {
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid gray;
}

#color:hover {
  background-color: lightgreen;	
}

.withLabel {
  display: flex;
}
